.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.weather-card {
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  color: white;
}

.weather-card.hot {
  background-color: #ff4500; /* Czerwony */
}

.weather-card.warm {
  background-color: #ffa600; /* Żółty */
}

.weather-card.mild {
  background-color: #32cd32; /* Zielony */
}

.weather-card.cool {
  background-color: #d3d3d3; /* Szary */
}

.weather-card.cold {
  background-color: #1e90ff; /* Niebieski */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.air-quality-container, .weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.air-quality-card, .weather-card {
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  color: white;
}

.air-quality-card.good {
  background-color: #00e400; /* Zielony */
}

.air-quality-card.fair {
  background-color: #cbe656; /* Jasno zielony */
}

.air-quality-card.moderate {
  background-color: #dddd0f; /* Żółty */
}

.air-quality-card.poor {
  background-color: #ff7e00; /* Pomarańczowy */
}

.air-quality-card.very-poor {
  background-color: #ff0000; /* Czerwony */
}

.ranking-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.ranking-card {
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  background-color: #f8f9fa;
  color: #333;
}

.ranking-card h2 {
  margin-top: 0;
  font-size: 1.5em;
  color: #007bff;
}

.ranking-card p {
  margin: 5px 0;
}

/* Dodaj animację */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.ranking-card {
  animation: fadeIn 0.5s ease-in-out;
}